# Database connection string
# Ganti dengan connection string PostgreSQL Anda
DATABASE_URL="postgresql://user:password@localhost:5432/stiesnu_repo?schema=public"

# NextAuth Configuration
# Gunakan perintah `openssl rand -base64 32` atau generator random string lain untuk membuat secret
NEXTAUTH_SECRET="ganti_dengan_secret_yang_sangat_rahasia_dan_panjang"
NEXTAUTH_URL="http://localhost:3000"

# Optional: Set to production when deploying
NODE_ENV="development"
